body {
 background-color: #111723 !important;
 /*    width: 100%;*/
 height: 100vh;
 box-sizing: border-box;
 color: white;
}
li {
 font-size: 1.5rem;
 margin: 0;
}
.glow-on-hover {
 width: auto;
 padding: 0 30px;
 height: 50px;
 color: #fff;
 background: rgb(96, 9, 240);
 background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
 position: relative;
 z-index: 0;
 border-radius: 10px;
 border: 1px solid green;
}
.glow-on-hover:before {
 content: '';
 background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
 position: absolute;
 top: -2px;
 left: -2px;
 background-size: 400%;
 z-index: -1;
 filter: blur(5px);
 width: calc(100% + 4px);
 height: calc(100% + 4px);
 animation: glowing 20s linear infinite;
 opacity: 0;
 transition: opacity 0.3s ease-in-out;
 border-radius: 10px;
}
.glow-on-hover:active {
 color: #000;
}
.glow-on-hover:active:after {
 background: transparent;
}
.glow-on-hover:hover:before {
 opacity: 1;
}
.glow-on-hover:after {
 z-index: -1;
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: #111;
 left: 0;
 top: 0;
 border-radius: 10px;
}
@keyframes glowing {
 0% {
  background-position: 0 0;
 }
 50% {
  background-position: 400% 0;
 }
 100% {
  background-position: 0 0;
 }
}
.nav-link {
 position: relative;
 overflow: hidden;
}
.nav-link:active, .active {
 color: blue !important;
 border-bottom: 1px solid green;
}
.header {
 color: #f35626;
 background-image: linear-gradient(30deg, red, white);
 background-clip: text;
 text-fill-color: transparent;
 animation: hue 5s infinite linear;
}
@keyframes hue {
 from {
  filter: hue-rotate(0deg);
 }
 to {
  filter: hue-rotate(-360deg);
 }
}
h1 {
 font-size: 3rem;
 font-weight: 700;
}
h2 {
 font-size: 2.5rem;
}
a {
 color: white !important;
 text-decoration: none;
}
a:hover {
 color: greenyellow !important;
}
/* circular motion image placement */
.w-25 {
 width: 25% !important;
}
.gallery {
 position: relative;
 width: 600px;
 height: 600px;
 margin: calc(100px / 2 + 1px);
 animation: rotategallery 14s infinite linear;
}
@keyframes rotategallery {
 0% {
  transform: rotate(0deg);
 }
 50% {
  transform: rotate(180deg);
 }
 100% {
  transform: rotate(360deg);
 }
}
/*
.gallery:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;

 border-radius: 50%;
}
*/
.gallery .circle-image {
 position: absolute;
 top: 50%;
 left: 50%;
 margin: calc(-100px / 2);
 border-radius: 50%;
}
.card1 {
 text-align: center !important;
 position: relative;
 top: 0%;
 left: 50%;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
 background: linear-gradient(285deg, rgba(255, 255, 255, 1) 0%, rgba(4, 211, 224, 1) 0%, rgba(186, 57, 246, 1) 80%, rgba(220, 29, 241, 1) 100%);
 z-index:1;
  border-radius: 10px;
box-shadow: 5px 10px 20px gray;
}
.card1 h3 {
 width: 18rem;
}
/*circle animation end here 
*/
@media only screen and (max-width: 480px) {
 .w-50 {
  width: 50% !important;
 }
 #circle-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
 }
 .card1 {
  display: flex !important;
  text-align: center !important;
  position: relative !important;
  left: 0;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(285deg, rgba(255, 255, 255, 1) 0%, rgba(4, 211, 224, 1) 0%, rgba(186, 57, 246, 1) 80%, rgba(220, 29, 241, 1) 100%);
  z-index: 1;
 }
 .gallery {
  position: relative;
  width: 25em;
  height:20em;
 margin: calc(2em / 2);
  animation: rotategallery 14s infinite linear;
 }
 #circle-container {
  display: flex !important;
 }
}
